.avatar-group {
  gap: 20px;
  @include media-breakpoint-up(md) {
    gap: 50px;
    margin-left: -35px;
    margin-right: -35px;
  }
}

.avatar-item {
  position: relative;
  width: 120px;
  text-align: center;
  @include media-breakpoint-up(md) {
    width: 150px;
  }
  .ratio {
    border-radius: 50%;
    img {
      @at-root :hover#{&} {
        width: 110%;
        height: 110%;
      }
    }
  }
  .avatar-title {
    transition: color 0.3s;
  }
  &:hover {
    color: $blue-200;
  }
}
