.card-group {
  gap: 30px 20px;
  @include media-breakpoint-up(md) {
    gap: 60px 30px;
  }
  @include media-breakpoint-up(lg) {
    margin-left: -120px;
    margin-right: -120px;
  }
  &.card-group-portrait {
    margin-left: auto;
    margin-right: auto;
    @include media-breakpoint-up(md) {
      max-width: 600px;
    }
  }
}
.card-item {
  position: relative;
  @at-root .article-module-x1 #{&} {
    margin-left: auto;
    margin-right: auto;
    &:not(.card-portrait) {
      display: table;
    }
    &.card-portrait {
      width: min-content;
    }
  }
  @at-root .article-module-x3 #{&} {
    width: calc((100% - 20px) / 2);
    @include media-breakpoint-up(sm) {
      width: calc((100% - 60px) / 3);
    }
    @include media-breakpoint-up(md) {
      &.card-portrait {
        width: 180px;
      }
    }
  }
  .card-img {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    @at-root .article-module-x3 #{&} {
      @include media-breakpoint-down(md) {
        &::before {
          @include beforeafter;
          padding-top: calc(10 / 16 * 100%);
        }
      }
      img {
        @include media-breakpoint-down(md) {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
        @include media-breakpoint-up(md) {
          max-width: 100%;
          max-height: 200px;
          width: auto;
          height: auto;
          margin: auto;
        }
      }
    }
  }
  h4 {
    position: relative;
    @include lineclamp(2);
    line-height: 160%;
    z-index: 1;
  }
}
