.slick-dots {
  @include listreset;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  button {
    display: block;
    width: .5rem;
    height: .5rem;
    padding: 0;
    text-indent: -999rem;
    background-color: $gray-200;
    border-radius: 10px;
    border: 0;
    opacity: 0.4;
    overflow: hidden;
    @include parent-append(".slick-active ",  0, true) {
      background-color: $gray-400;
      opacity: 1;
    }
  }
}

.slick-arrow {
  padding: 10px;
  font-size: 0;
  color: $black;
  background-color: transparent;
  border: 0;
  overflow: hidden;
  z-index: 1;
  &::before {
    display: block;
    font-family: $icomoon-font-family;
    font-size: 2.75rem;
    line-height: 1;
    @include parent-append(".slick-prev",  0, true) {
      content: $icon-arrow-left;
    }
    @include parent-append(".slick-next",  0, true) {
      content: $icon-arrow-right;
    }
  }
  &:hover {
    color: $blue-200;
  }
  &.slick-disabled {
    color: $gray-200;
    cursor: not-allowed;
  }
}

.slick-slide {
  line-height: 1;
}

.slick-gallery {
  position: relative;
  width: calc(100% - 100px);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: calc(20px + .5rem);
  line-height: 0;
  @include media-breakpoint-up(md) {
    margin-bottom: calc(35px + .5rem);
  }
  &:not(.slick-gallery-portrait) {
    max-width: 720px;
  }
  &.slick-gallery-portrait {
    @include media-breakpoint-down(sm) {
      .ratio > * {
        object-fit: contain;
      }
    }
    @include media-breakpoint-up(sm) {
      max-width: 245px;
      img {
        width: auto;
        height: 350px;
      }
    }
  }
  img {
    display: block;
  }
  .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .slick-prev {
    right: 100%;
    @include media-breakpoint-up(md) {
      right: calc(100% + 20px);
    }
  }
  .slick-next {
    left: 100%;
    @include media-breakpoint-up(md) {
      left: calc(100% + 20px);
    }
  }
  .slick-dots {
    position: absolute;
    top: calc(100% + 20px);
    left: 50%;
    transform: translateX(-50%);
    @include media-breakpoint-up(md) {
      top: calc(100% + 35px);
    }
  }
}
