.social-group {
	@include listreset;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
	color: $gray-400;
	font-size: 1.5rem;
	a {
		color: currentColor;
		&:hover {
			color: $blue-200;
		}
	}
	i.icon {
		display: block;
	}
}
